{
  "swagger": "2.0",
  "info": {
    "version": "180606",
    "title": "PlayFab Admin API",
    "description": "APIs for managing title configurations, uploaded Game Server code executables, and user data",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Admin/AbortTaskInstance": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Abort an ongoing task instance.",
        "description": "Abort an ongoing task instance.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AbortTaskInstance"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AbortTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If the task instance has already completed, there will be no-op.",
        "x-auth": "SecretKey",
        "x-requestType": "AbortTaskInstanceRequest",
        "x-resultType": "EmptyResult",
        "x-seeAlso": [
          "Admin/GetActionsOnPlayersInSegmentTaskInstance",
          "Admin/GetCloudScriptTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/AddNews": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Adds a new news item to the title's news feed",
        "description": "Adds a new news item to the title's news feed",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AddNews"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddNewsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AddNewsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddNewsRequest",
        "x-resultType": "AddNewsResult",
        "x-errors": [
          "TitleNewsItemCountLimitExceeded"
        ]
      }
    },
    "/Admin/AddPlayerTag": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "description": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AddPlayerTag"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddPlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AddPlayerTagResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_added event and add a tag with the given TagName and PlayFabID to the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters. Also there is a limit on the number of tags a title can have.",
        "x-auth": "SecretKey",
        "x-requestType": "AddPlayerTagRequest",
        "x-resultType": "AddPlayerTagResult",
        "x-seeAlso": [
          "Admin/GetPlayerTags",
          "Admin/RemovePlayerTag"
        ],
        "x-errors": [
          "AccountNotFound",
          "PlayerTagCountLimitExceeded"
        ]
      }
    },
    "/Admin/AddServerBuild": {
      "post": {
        "tags": [
          "Custom Server Management"
        ],
        "summary": "Adds the game server executable specified (previously uploaded - see GetServerBuildUploadUrl) to the set of those a client is permitted to request in a call to StartGame",
        "description": "Adds the game server executable specified (previously uploaded - see GetServerBuildUploadUrl) to the set of those a client is permitted to request in a call to StartGame",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AddServerBuild"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddServerBuildRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AddServerBuildResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddServerBuildRequest",
        "x-resultType": "AddServerBuildResult",
        "x-seeAlso": [
          "Admin/GetServerBuildInfo",
          "Admin/ListServerBuilds",
          "Client/Matchmake",
          "Admin/ModifyServerBuild",
          "Admin/RemoveServerBuild",
          "Matchmaker/StartGame"
        ],
        "x-errors": [
          "BuildAlreadyExists",
          "BuildPackageDoesNotExist",
          "GameServerBuildSizeLimitExceeded",
          "GameServerHostCountLimitExceeded"
        ]
      }
    },
    "/Admin/AddUserVirtualCurrency": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Increments the specified virtual currency by the stated amount",
        "description": "Increments the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AddUserVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddUserVirtualCurrencyRequest",
        "x-resultType": "ModifyUserVirtualCurrencyResult",
        "x-seeAlso": [
          "Admin/SubtractUserVirtualCurrency"
        ],
        "x-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Admin/AddVirtualCurrencyTypes": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Adds one or more virtual currencies to the set defined for the title. Virtual Currencies have a maximum value of 2,147,483,647 when granted to a player. Any value over that will be discarded.",
        "description": "Adds one or more virtual currencies to the set defined for the title. Virtual Currencies have a maximum value of 2,147,483,647 when granted to a player. Any value over that will be discarded.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/AddVirtualCurrencyTypes"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddVirtualCurrencyTypesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/BlankResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This operation is additive. Any new currencies defined in the array will be added to the set of those available for the title, while any CurrencyCode identifiers matching existing ones in the game will be overwritten with the new values.",
        "x-auth": "SecretKey",
        "x-requestType": "AddVirtualCurrencyTypesRequest",
        "x-resultType": "BlankResult",
        "x-seeAlso": [
          "Admin/ListVirtualCurrencyTypes",
          "Admin/RemoveVirtualCurrencyTypes"
        ],
        "x-errors": [
          "InvalidVirtualCurrencyCode",
          "VirtualCurrencyCountLimitExceeded"
        ]
      }
    },
    "/Admin/BanUsers": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "description": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/BanUsers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/BanUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/BanUsersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The existence of each user will not be verified. When banning by IP or MAC address, multiple players may be affected, so use this feature with caution. Returns information about the new bans.",
        "x-auth": "SecretKey",
        "x-requestType": "BanUsersRequest",
        "x-resultType": "BanUsersResult",
        "x-seeAlso": [
          "Admin/GetUserBans",
          "Admin/RevokeAllBansForUser",
          "Admin/RevokeBans",
          "Admin/UpdateBans"
        ]
      }
    },
    "/Admin/CheckLimitedEditionItemAvailability": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Checks the global count for the limited edition item.",
        "description": "Checks the global count for the limited edition item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/CheckLimitedEditionItemAvailability"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CheckLimitedEditionItemAvailabilityRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CheckLimitedEditionItemAvailabilityResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This returns the total number of these items available.",
        "x-auth": "SecretKey",
        "x-requestType": "CheckLimitedEditionItemAvailabilityRequest",
        "x-resultType": "CheckLimitedEditionItemAvailabilityResult",
        "x-seeAlso": [
          "Admin/IncrementLimitedEditionItemAvailability"
        ]
      }
    },
    "/Admin/CreateActionsOnPlayersInSegmentTask": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Create an ActionsOnPlayersInSegment task, which iterates through all players in a segment to execute action.",
        "description": "Create an ActionsOnPlayersInSegment task, which iterates through all players in a segment to execute action.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/CreateActionsOnPlayersInSegmentTask"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreateActionsOnPlayerSegmentTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateTaskResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Task name is unique within a title. Using a task name that's already taken will cause a name conflict error. Too many create-task requests within a short time will cause a create conflict error.",
        "x-auth": "SecretKey",
        "x-requestType": "CreateActionsOnPlayerSegmentTaskRequest",
        "x-resultType": "CreateTaskResult",
        "x-seeAlso": [
          "Admin/CreateCloudScriptTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ],
        "x-errors": [
          "InvalidScheduledTaskName",
          "InvalidTaskSchedule",
          "ScheduledTaskCreateConflict",
          "ScheduledTaskNameConflict"
        ]
      }
    },
    "/Admin/CreateCloudScriptTask": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Create a CloudScript task, which can run a CloudScript on a schedule.",
        "description": "Create a CloudScript task, which can run a CloudScript on a schedule.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/CreateCloudScriptTask"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreateCloudScriptTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateTaskResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Task name is unique within a title. Using a task name that's already taken will cause a name conflict error. Too many create-task requests within a short time will cause a create conflict error.",
        "x-auth": "SecretKey",
        "x-requestType": "CreateCloudScriptTaskRequest",
        "x-resultType": "CreateTaskResult",
        "x-seeAlso": [
          "Admin/CreateActionsOnPlayersInSegmentTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ],
        "x-errors": [
          "InvalidScheduledTaskName",
          "InvalidTaskSchedule",
          "ScheduledTaskCreateConflict",
          "ScheduledTaskNameConflict"
        ]
      }
    },
    "/Admin/CreatePlayerSharedSecret": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Creates a new Player Shared Secret Key. It may take up to 5 minutes for this key to become generally available after this API returns.",
        "description": "Creates a new Player Shared Secret Key. It may take up to 5 minutes for this key to become generally available after this API returns.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/CreatePlayerSharedSecret"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreatePlayerSharedSecretRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreatePlayerSharedSecretResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-auth": "SecretKey",
        "x-requestType": "CreatePlayerSharedSecretRequest",
        "x-resultType": "CreatePlayerSharedSecretResult",
        "x-seeAlso": [
          "Admin/GetPlayerSharedSecrets",
          "Admin/UpdatePlayerSharedSecret"
        ]
      }
    },
    "/Admin/CreatePlayerStatisticDefinition": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Adds a new player statistic configuration to the title, optionally allowing the developer to specify a reset interval and an aggregation method.",
        "description": "Adds a new player statistic configuration to the title, optionally allowing the developer to specify a reset interval and an aggregation method.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/CreatePlayerStatisticDefinition"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreatePlayerStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreatePlayerStatisticDefinitionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The ResetInterval enables automatically resetting leaderboards on a specified interval. Upon reset, the statistic updates to a new version with no values (effectively removing all players from the leaderboard). The previous version's statistic values are also archived for retrieval, if needed (see GetPlayerStatisticVersions). Statistics not created via a call to CreatePlayerStatisticDefinition by default have a VersionChangeInterval of Never, meaning they do not reset on a schedule, but they can be set to do so via a call to UpdatePlayerStatisticDefinition. Once a statistic has been reset (sometimes referred to as versioned or incremented), the now-previous version can still be written to for up a short, pre-defined period (currently 10 seconds), to prevent issues with levels completing around the time of the reset. Also, once reset, the historical statistics for players in the title may be retrieved using the URL specified in the version information (GetPlayerStatisticVersions). The AggregationMethod determines what action is taken when a new statistic value is submitted - always update with the new value (Last), use the highest of the old and new values (Max), use the smallest (Min), or add them together (Sum).",
        "x-auth": "SecretKey",
        "x-requestType": "CreatePlayerStatisticDefinitionRequest",
        "x-resultType": "CreatePlayerStatisticDefinitionResult",
        "x-seeAlso": [
          "Admin/GetPlayerStatisticDefinitions",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ],
        "x-errors": [
          "StatisticCountLimitExceeded",
          "StatisticNameConflict"
        ]
      }
    },
    "/Admin/DeleteContent": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Delete a content file from the title. When deleting a file that does not exist, it returns success.",
        "description": "Delete a content file from the title. When deleting a file that does not exist, it returns success.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteContent"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteContentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/BlankResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "DeleteContentRequest",
        "x-resultType": "BlankResult",
        "x-seeAlso": [
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ]
      }
    },
    "/Admin/DeleteMasterPlayerAccount": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Removes a master player account entirely from all titles and deletes all associated data",
        "description": "Removes a master player account entirely from all titles and deletes all associated data",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteMasterPlayerAccount"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteMasterPlayerAccountRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteMasterPlayerAccountResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes all data associated with the master player account, including data from all titles the player has played, such as statistics, custom data, inventory, purchases, virtual currency balances,         characters, group memberships, publisher data, credential data, account linkages, friends list and PlayStream event history. Removes the player from all leaderboards and player search indexes.         Note, this API queues the player for deletion and returns a receipt immediately. Record the receipt ID for future reference. It may take some time before all player data is fully deleted.         Upon completion of the deletion, an email will be sent to the notification email address configured for the title confirming the deletion.         Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error.         It is highly recommended to know the impact of the deletion by calling GetPlayedTitleList, before calling this API.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteMasterPlayerAccountRequest",
        "x-resultType": "DeleteMasterPlayerAccountResult",
        "x-seeAlso": [
          "Admin/GetPlayedTitleList"
        ],
        "x-errors": [
          "AccountDeleted",
          "AccountNotFound"
        ]
      }
    },
    "/Admin/DeletePlayer": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Removes a user's player account from a title and deletes all associated data",
        "description": "Removes a user's player account from a title and deletes all associated data",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeletePlayer"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeletePlayerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeletePlayerResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes all data associated with the player, including statistics, custom data, inventory, purchases, virtual currency balances,         characters and shared group memberships. Removes the player from all leaderboards and player search indexes. Does not delete PlayStream event history associated with the player.         Does not delete the publisher user account that created the player in the title nor associated data such as username, password, email address, account linkages, or friends list.         Note, this API queues the player for deletion and returns immediately. It may take several minutes or more before all player data is fully deleted.         Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error.",
        "x-auth": "SecretKey",
        "x-requestType": "DeletePlayerRequest",
        "x-resultType": "DeletePlayerResult",
        "x-errors": [
          "AccountDeleted",
          "AccountNotFound"
        ]
      }
    },
    "/Admin/DeletePlayerSharedSecret": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Deletes an existing Player Shared Secret Key. It may take up to 5 minutes for this delete to be reflected after this API returns.",
        "description": "Deletes an existing Player Shared Secret Key. It may take up to 5 minutes for this delete to be reflected after this API returns.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeletePlayerSharedSecret"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeletePlayerSharedSecretRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeletePlayerSharedSecretResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-auth": "SecretKey",
        "x-requestType": "DeletePlayerSharedSecretRequest",
        "x-resultType": "DeletePlayerSharedSecretResult",
        "x-seeAlso": [
          "Admin/CreatePlayerSharedSecret",
          "Admin/GetPlayerSharedSecrets",
          "Admin/UpdatePlayerSharedSecret"
        ],
        "x-errors": [
          "SecretKeyNotFound"
        ]
      }
    },
    "/Admin/DeleteStore": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Deletes an existing virtual item store",
        "description": "Deletes an existing virtual item store",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteStore"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteStoreRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteStoreResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This non-reversible operation will permanently delete the requested store.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteStoreRequest",
        "x-resultType": "DeleteStoreResult",
        "x-seeAlso": [
          "Admin/GetStoreItems",
          "Admin/SetStoreItems",
          "Admin/UpdateStoreItems"
        ],
        "x-errors": [
          "CatalogNotConfigured",
          "StoreNotFound"
        ]
      }
    },
    "/Admin/DeleteTask": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Delete a task.",
        "description": "Delete a task.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteTask"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "After a task is deleted, for tracking purposes, the task instances belonging to this task will still remain. They will become orphaned and does not belongs to any task. Executions of any in-progress task instances will continue. If the task specified does not exist, the deletion is considered a success.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteTaskRequest",
        "x-resultType": "EmptyResult",
        "x-seeAlso": [
          "Admin/CreateActionsOnPlayersInSegmentTask",
          "Admin/CreateCloudScriptTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ]
      }
    },
    "/Admin/DeleteTitle": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Permanently deletes a title and all associated configuration",
        "description": "Permanently deletes a title and all associated configuration",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteTitle"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteTitleRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteTitleResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes all data associated with the title, including catalog, virtual currencies, leaderboard statistics, Cloud Script revisions,         segment definitions, event rules, tasks, add-ons, secret keys, data encryption keys, and permission policies.         Removes the title from its studio and removes all associated developer roles and permissions.         Does not delete PlayStream event history associated with the title.         Note, this API queues the title for deletion and returns immediately. It may take several hours or more before all title data is fully deleted.         All player accounts in the title must be deleted before deleting the title. If any player accounts exist, the API will return a 'TitleContainsUserAccounts' error.                 Until the title data is fully deleted, attempts to call APIs with the title will fail with the 'TitleDeleted' error.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteTitleRequest",
        "x-resultType": "DeleteTitleResult",
        "x-seeAlso": [
          "Admin/DeletePlayer"
        ],
        "x-errors": [
          "InvalidParams",
          "InvalidTitleId",
          "TitleContainsUserAccounts",
          "TitleDeleted"
        ]
      }
    },
    "/Admin/DeleteUsers": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Deletes the users for the provided game. Deletes custom data, all account linkages, and statistics. This method does not remove the player's event history, login history, inventory items, nor virtual currencies.",
        "description": "Deletes the users for the provided game. Deletes custom data, all account linkages, and statistics. This method does not remove the player's event history, login history, inventory items, nor virtual currencies.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/DeleteUsers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteUsersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that this action cannot be undone. It will unlink all accounts and remove all PII information, as well as reset any statistics and leaderboards and clear out any stored custom data for the user.",
        "x-deprecation": {
          "ProposedAfter": "7/17/2017",
          "DeprecatedAfter": "9/17/2017",
          "ObsoleteAfter": "10/17/2017",
          "ReplacedBy": "DeletePlayer"
        },
        "x-auth": "SecretKey",
        "x-requestType": "DeleteUsersRequest",
        "x-resultType": "DeleteUsersResult",
        "x-errors": [
          "AccountNotFound",
          "InvalidPublisherId",
          "InvalidTitleId"
        ]
      }
    },
    "/Admin/ExportMasterPlayerData": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Exports all associated data of a master player account",
        "description": "Exports all associated data of a master player account",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/ExportMasterPlayerData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ExportMasterPlayerDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ExportMasterPlayerDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Exports all data associated with the master player account, including data from all titles the player has played, such as statistics, custom data, inventory, purchases, virtual currency balances,         characters, group memberships, publisher data, credential data, account linkages, friends list and PlayStream event history.         Note, this API queues the player for export and returns a receipt immediately. Record the receipt ID for future reference. It may take some time before the export is available for download.         Upon completion of the export, an email containing the URL to download the export dump will be sent to the notification email address configured for the title.",
        "x-auth": "SecretKey",
        "x-requestType": "ExportMasterPlayerDataRequest",
        "x-resultType": "ExportMasterPlayerDataResult",
        "x-errors": [
          "AccountDeleted",
          "AccountNotFound"
        ]
      }
    },
    "/Admin/GetActionsOnPlayersInSegmentTaskInstance": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Get information about a ActionsOnPlayersInSegment task instance.",
        "description": "Get information about a ActionsOnPlayersInSegment task instance.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetActionsOnPlayersInSegmentTaskInstance"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetActionsOnPlayersInSegmentTaskInstanceResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The result includes detail information that's specific to an ActionsOnPlayersInSegment task. To get a list of task instances with generic basic information, use GetTaskInstances.",
        "x-auth": "SecretKey",
        "x-requestType": "GetTaskInstanceRequest",
        "x-resultType": "GetActionsOnPlayersInSegmentTaskInstanceResult",
        "x-seeAlso": [
          "Admin/AbortTaskInstance",
          "Admin/GetCloudScriptTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/GetAllActionGroups": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Retrieve a list of all PlayStream actions groups.",
        "description": "Retrieve a list of all PlayStream actions groups.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetAllActionGroups"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAllActionGroupsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAllActionGroupsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-deprecation": {
          "ProposedAfter": "8/14/2017",
          "DeprecatedAfter": "9/14/2017",
          "ObsoleteAfter": "10/14/2017",
          "ReplacedBy": "GetTasks"
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetAllActionGroupsRequest",
        "x-resultType": "GetAllActionGroupsResult",
        "x-seeAlso": [
          "Admin/GetAllSegments"
        ]
      }
    },
    "/Admin/GetAllSegments": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "description": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetAllSegments"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAllSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAllSegmentsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Request has no paramaters.",
        "x-auth": "SecretKey",
        "x-requestType": "GetAllSegmentsRequest",
        "x-resultType": "GetAllSegmentsResult",
        "x-seeAlso": [
          "Admin/GetPlayersInSegment"
        ]
      }
    },
    "/Admin/GetCatalogItems": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetCatalogItems"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCatalogItemsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetCatalogItemsRequest",
        "x-resultType": "GetCatalogItemsResult",
        "x-seeAlso": [
          "Admin/SetCatalogItems",
          "Admin/UpdateCatalogItems"
        ]
      }
    },
    "/Admin/GetCloudScriptRevision": {
      "post": {
        "tags": [
          "Server-Side Cloud Script"
        ],
        "summary": "Gets the contents and information of a specific Cloud Script revision.",
        "description": "Gets the contents and information of a specific Cloud Script revision.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetCloudScriptRevision"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCloudScriptRevisionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCloudScriptRevisionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetCloudScriptRevisionRequest",
        "x-resultType": "GetCloudScriptRevisionResult",
        "x-errors": [
          "RevisionNotFound",
          "VersionNotFound"
        ]
      }
    },
    "/Admin/GetCloudScriptTaskInstance": {
      "post": {
        "tags": [
          "ScheduledTask"
        ],
        "summary": "Get detail information about a CloudScript task instance.",
        "description": "Get detail information about a CloudScript task instance.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetCloudScriptTaskInstance"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCloudScriptTaskInstanceResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The result includes detail information that's specific to a CloudScript tasks. To get a list of task instances with generic basic information, use GetTaskInstances.",
        "x-auth": "SecretKey",
        "x-requestType": "GetTaskInstanceRequest",
        "x-resultType": "GetCloudScriptTaskInstanceResult",
        "x-seeAlso": [
          "Admin/AbortTaskInstance",
          "Admin/GetActionsOnPlayersInSegmentTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/GetCloudScriptVersions": {
      "post": {
        "tags": [
          "Server-Side Cloud Script"
        ],
        "summary": "Lists all the current cloud script versions. For each version, information about the current published and latest revisions is also listed.",
        "description": "Lists all the current cloud script versions. For each version, information about the current published and latest revisions is also listed.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetCloudScriptVersions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCloudScriptVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCloudScriptVersionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetCloudScriptVersionsRequest",
        "x-resultType": "GetCloudScriptVersionsResult"
      }
    },
    "/Admin/GetContentList": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "List all contents of the title and get statistics such as size",
        "description": "List all contents of the title and get statistics such as size",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetContentList"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetContentListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetContentListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetContentListRequest",
        "x-resultType": "GetContentListResult",
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentUploadUrl"
        ],
        "x-errors": [
          "ContentS3OriginBucketNotConfigured"
        ]
      }
    },
    "/Admin/GetContentUploadUrl": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Retrieves the pre-signed URL for uploading a content file. A subsequent HTTP PUT to the returned URL uploads the content. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "description": "Retrieves the pre-signed URL for uploading a content file. A subsequent HTTP PUT to the returned URL uploads the content. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetContentUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetContentUploadUrlRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetContentUploadUrlResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetContentUploadUrlRequest",
        "x-resultType": "GetContentUploadUrlResult",
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList"
        ],
        "x-errors": [
          "BillingInformationRequired",
          "ContentQuotaExceeded"
        ]
      }
    },
    "/Admin/GetDataReport": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a download URL for the requested report",
        "description": "Retrieves a download URL for the requested report",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetDataReport"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetDataReportRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetDataReportResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the download URL for the requested report data (in CSV form). The reports available through this API call are those available in the Game Manager, in the Analytics->Reports tab.",
        "x-auth": "SecretKey",
        "x-requestType": "GetDataReportRequest",
        "x-resultType": "GetDataReportResult",
        "x-errors": [
          "InvalidReportDate",
          "ReportNotAvailable"
        ]
      }
    },
    "/Admin/GetMatchmakerGameInfo": {
      "post": {
        "tags": [
          "Matchmaking"
        ],
        "summary": "Retrieves the details for a specific completed session, including links to standard out and standard error logs",
        "description": "Retrieves the details for a specific completed session, including links to standard out and standard error logs",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetMatchmakerGameInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetMatchmakerGameInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchmakerGameInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetMatchmakerGameInfoRequest",
        "x-resultType": "GetMatchmakerGameInfoResult",
        "x-seeAlso": [
          "Admin/GetMatchmakerGameModes",
          "Admin/ModifyMatchmakerGameModes"
        ],
        "x-errors": [
          "GameNotFound"
        ]
      }
    },
    "/Admin/GetMatchmakerGameModes": {
      "post": {
        "tags": [
          "Matchmaking"
        ],
        "summary": "Retrieves the details of defined game modes for the specified game server executable",
        "description": "Retrieves the details of defined game modes for the specified game server executable",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetMatchmakerGameModes"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetMatchmakerGameModesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchmakerGameModesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "These details are used by the PlayFab matchmaking service to determine if an existing Game Server Instance has room for additional users, and by the PlayFab game server management service to determine when a new Game Server Host should be created in order to prevent excess load on existing Hosts.",
        "x-auth": "SecretKey",
        "x-requestType": "GetMatchmakerGameModesRequest",
        "x-resultType": "GetMatchmakerGameModesResult",
        "x-seeAlso": [
          "Admin/GetMatchmakerGameInfo",
          "Admin/ModifyMatchmakerGameModes"
        ]
      }
    },
    "/Admin/GetPlayedTitleList": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get the list of titles that the player has played",
        "description": "Get the list of titles that the player has played",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayedTitleList"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayedTitleListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayedTitleListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Useful for identifying titles of which the player's data will be deleted by DeleteMasterPlayer.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayedTitleListRequest",
        "x-resultType": "GetPlayedTitleListResult",
        "x-seeAlso": [
          "Admin/DeleteMasterPlayerAccount"
        ],
        "x-errors": [
          "AccountDeleted",
          "AccountNotFound"
        ]
      }
    },
    "/Admin/GetPlayerIdFromAuthToken": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Gets a player's ID from an auth token.",
        "description": "Gets a player's ID from an auth token.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerIdFromAuthToken"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerIdFromAuthTokenRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerIdFromAuthTokenResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a player ID from an auth token. The token expires after 30 minutes and cannot be used to look up a player when expired.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerIdFromAuthTokenRequest",
        "x-resultType": "GetPlayerIdFromAuthTokenResult",
        "x-errors": [
          "AuthTokenDoesNotExist"
        ]
      }
    },
    "/Admin/GetPlayerProfile": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the player's profile",
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerProfile"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerProfileResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerProfileRequest",
        "x-resultType": "GetPlayerProfileResult",
        "x-errors": [
          "PlayerNotInGame",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Admin/GetPlayerSegments": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "List all segments that a player currently belongs to at this moment in time.",
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerSegments"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayersSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerSegmentsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayersSegmentsRequest",
        "x-resultType": "GetPlayerSegmentsResult",
        "x-seeAlso": [
          "Admin/GetAllSegments"
        ],
        "x-errors": [
          "SegmentNotFound"
        ]
      }
    },
    "/Admin/GetPlayerSharedSecrets": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Returns all Player Shared Secret Keys including disabled and expired.",
        "description": "Returns all Player Shared Secret Keys including disabled and expired.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerSharedSecrets"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerSharedSecretsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerSharedSecretsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerSharedSecretsRequest",
        "x-resultType": "GetPlayerSharedSecretsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerSharedSecret",
          "Admin/UpdatePlayerSharedSecret"
        ]
      }
    },
    "/Admin/GetPlayersInSegment": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation.",
        "description": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayersInSegment"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayersInSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayersInSegmentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Initial request must contain at least a Segment ID. Subsequent requests must contain the Segment ID as well as the Continuation Token. Failure to send the Continuation Token will result in a new player segment list being generated. Each time the Continuation Token is passed in the length of the Total Seconds to Live is refreshed. If too much time passes between requests to the point that a subsequent request is past the Total Seconds to Live an error will be returned and paging will be terminated. This API is resource intensive and should not be used in scenarios which might generate high request volumes. Only one request to this API at a time should be made per title. Concurrent requests to the API may be rejected with the APIConcurrentRequestLimitExceeded error.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayersInSegmentRequest",
        "x-resultType": "GetPlayersInSegmentResult",
        "x-seeAlso": [
          "Admin/GetAllSegments"
        ],
        "x-errors": [
          "ExpiredContinuationToken",
          "SegmentNotFound"
        ]
      }
    },
    "/Admin/GetPlayerStatisticDefinitions": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the configuration information for all player statistics defined in the title, regardless of whether they have a reset interval.",
        "description": "Retrieves the configuration information for all player statistics defined in the title, regardless of whether they have a reset interval.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerStatisticDefinitions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticDefinitionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticDefinitionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The ResetInterval defines the period of time at which the leaderboard for the statistic will automatically reset. Upon reset, the statistic updates to a new version with no values (effectively removing all players from the leaderboard). The previous version's statistic values are also archived for retrieval, if needed (see GetPlayerStatisticVersions). Statistics not created via a call to CreatePlayerStatisticDefinition by default have a VersionChangeInterval of Never, meaning they do not reset on a schedule, but they can be set to do so via a call to UpdatePlayerStatisticDefinition. Once a statistic has been reset (sometimes referred to as versioned or incremented), the previous version can still be written to for up a short, pre-defined period (currently 10 seconds), to prevent issues with levels completing around the time of the reset. Also, once reset, the historical statistics for players in the title may be retrieved using the URL specified in the version information (GetPlayerStatisticVersions). The AggregationMethod defines what action is taken when a new statistic value is submitted - always update with the new value (Last), use the highest of the old and new values (Max), use the smallest (Min), or add them together (Sum).",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerStatisticDefinitionsRequest",
        "x-resultType": "GetPlayerStatisticDefinitionsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ]
      }
    },
    "/Admin/GetPlayerStatisticVersions": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the information on the available versions of the specified statistic.",
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerStatisticVersions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticVersionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The information returned in the results defines the state of a specific version of a statistic, including when it was or will become the currently active version, when it will (or did) become a previous version, and its archival state if it is no longer the active version. For a statistic which has been reset, once the archival status is Complete, the full set of statistics for all players in the leaderboard for that version may be retrieved via the ArchiveDownloadUrl. Statistics which have not been reset (incremented/versioned) will only have a single version which is not scheduled to reset.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerStatisticVersionsRequest",
        "x-resultType": "GetPlayerStatisticVersionsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Admin/GetPlayerStatisticDefinitions",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ],
        "x-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Admin/GetPlayerTags": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Get all tags with a given Namespace (optional) from a player profile.",
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPlayerTags"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerTagsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerTagsRequest",
        "x-resultType": "GetPlayerTagsResult",
        "x-seeAlso": [
          "Admin/AddPlayerTag",
          "Admin/RemovePlayerTag"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Admin/GetPolicy": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Gets the requested policy.",
        "description": "Gets the requested policy.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPolicy"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPolicyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPolicyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Views the requested policy. Today, the only supported policy is 'ApiPolicy'.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPolicyRequest",
        "x-resultType": "GetPolicyResponse",
        "x-seeAlso": [
          "Admin/UpdatePolicy"
        ]
      }
    },
    "/Admin/GetPublisherData": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the key-value store of custom publisher settings",
        "description": "Retrieves the key-value store of custom publisher settings",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetPublisherData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPublisherDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPublisherDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return publisher-specific values which can be read, but not written to, by the client. This data is shared across all titles assigned to a particular publisher, and can be used for cross-game coordination. Only titles assigned to a publisher can use this API. For more information email devrel@playfab.com. This AdminAPI call for getting title data guarantees no delay in between update and retrieval of newly set data.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPublisherDataRequest",
        "x-resultType": "GetPublisherDataResult",
        "x-seeAlso": [
          "Admin/SetPublisherData"
        ],
        "x-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Admin/GetRandomResultTables": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the random drop table configuration for the title",
        "description": "Retrieves the random drop table configuration for the title",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetRandomResultTables"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetRandomResultTablesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetRandomResultTablesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetRandomResultTablesRequest",
        "x-resultType": "GetRandomResultTablesResult",
        "x-seeAlso": [
          "Admin/UpdateRandomResultTables"
        ]
      }
    },
    "/Admin/GetServerBuildInfo": {
      "post": {
        "tags": [
          "Custom Server Management"
        ],
        "summary": "Retrieves the build details for the specified game server executable",
        "description": "Retrieves the build details for the specified game server executable",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Admin/Method/GetServerBuildInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetServerBuildInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetServerBuildInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetServerBuildInfoRequest",
        "x-resultType": "GetServerBuildInfoResult",
        "x-seeAlso": [
          "Admin/AddServerBuild",
          "Admin/ListServerBuilds",
          "Admin/ModifyServerBuild",
          "Admin/RemoveServerBuild"
        ],
        "x-errors": [
          "BuildNotFound"
        ]
      }
    },
    "/Admin/GetServerBuildUploadUrl": {
      "post": {
        "tags": [
          "Custom Server Management"
        ],
[...]
