{
  "swagger": "2.0",
  "info": {
    "version": "180605",
    "title": "PlayFab Client API",
    "description": "APIs which provide the full range of PlayFab features available to the client - authentication, account and data management, inventory, friends, matchmaking, reporting, and platform-specific functionality",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Client/AcceptTrade": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Accepts an open trade (one that has not yet been accepted or cancelled), if the locally signed-in player is in the allowed player list for the trade, or it is open to all players. If the call is successful, the offered and accepted items will be swapped between the two players' inventories.",
        "description": "Accepts an open trade (one that has not yet been accepted or cancelled), if the locally signed-in player is in the allowed player list for the trade, or it is open to all players. If the call is successful, the offered and accepted items will be swapped between the two players' inventories.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AcceptTrade"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AcceptTradeRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AcceptTradeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "AcceptTradeRequest",
        "x-resultType": "AcceptTradeResponse",
        "x-seeAlso": [
          "Client/CancelTrade",
          "Client/GetPlayerTrades",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ],
        "x-errors": [
          "TradeAcceptedCatalogItemInvalid",
          "TradeAcceptedItemsMismatch",
          "TradeAcceptingUserNotAllowed",
          "TradeAllowedUsersInvalid",
          "TradeAlreadyFilled",
          "TradeCancelled",
          "TradeDoesNotExist",
          "TradeInventoryItemDoesNotExist",
          "TradeInventoryItemExpired",
          "TradeInventoryItemInvalidStatus",
          "TradeInventoryItemIsAssignedToCharacter",
          "TradeInventoryItemIsBundle",
          "TradeInventoryItemIsConsumed",
          "TradeInventoryItemIsStackable",
          "TradeStatusNotValidForAccepting",
          "TradeWaitForStatusTimeout"
        ]
      }
    },
    "/Client/AddFriend": {
      "post": {
        "tags": [
          "Friend List Management"
        ],
        "summary": "Adds the PlayFab user, based upon a match against a supplied unique identifier, to the friend list of the local user. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "description": "Adds the PlayFab user, based upon a match against a supplied unique identifier, to the friend list of the local user. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddFriend"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddFriendRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddFriendResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "AddFriendRequest",
        "x-resultType": "AddFriendResult",
        "x-seeAlso": [
          "Client/GetFriendsList",
          "Client/SetFriendTags"
        ],
        "x-errors": [
          "AccountNotFound",
          "UsersAlreadyFriends"
        ]
      }
    },
    "/Client/AddGenericID": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Adds the specified generic service identifier to the player's PlayFab account. This is designed to allow for a PlayFab ID lookup of any arbitrary service identifier a title wants to add. This identifier should never be used as authentication credentials, as the intent is that it is easily accessible by other players.",
        "description": "Adds the specified generic service identifier to the player's PlayFab account. This is designed to allow for a PlayFab ID lookup of any arbitrary service identifier a title wants to add. This identifier should never be used as authentication credentials, as the intent is that it is easily accessible by other players.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddGenericID"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddGenericIDRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddGenericIDResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "AddGenericIDRequest",
        "x-resultType": "AddGenericIDResult",
        "x-seeAlso": [
          "Client/GetPlayFabIDsFromGenericIDs",
          "Client/RemoveGenericID"
        ],
        "x-errors": [
          "IdentifierAlreadyClaimed"
        ]
      }
    },
    "/Client/AddOrUpdateContactEmail": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Adds or updates a contact email to the player's profile.",
        "description": "Adds or updates a contact email to the player's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddOrUpdateContactEmail"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddOrUpdateContactEmailRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddOrUpdateContactEmailResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API adds a contact email to the player's profile. If the player's profile already contains a contact email, it will update the contact email to the email address specified.",
        "x-auth": "SessionTicket",
        "x-requestType": "AddOrUpdateContactEmailRequest",
        "x-resultType": "AddOrUpdateContactEmailResult"
      }
    },
    "/Client/AddSharedGroupMembers": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddSharedGroupMembers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddSharedGroupMembersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddSharedGroupMembersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "AddSharedGroupMembersRequest",
        "x-resultType": "AddSharedGroupMembersResult",
        "x-errors": [
          "AccountNotFound",
          "UserAlreadyAdded"
        ]
      }
    },
    "/Client/AddUsernamePassword": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Adds playfab username/password auth to an existing account created via an anonymous auth method, e.g. automatic device ID login.",
        "description": "Adds playfab username/password auth to an existing account created via an anonymous auth method, e.g. automatic device ID login.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddUsernamePassword"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddUsernamePasswordRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddUsernamePasswordResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Each account must have a unique username and email address in the PlayFab service. Once created, the account may be associated with additional accounts (Steam, Facebook, Game Center, etc.), allowing for added social network lists and achievements systems. This can also be used to provide a recovery method if the user loses their original means of access.",
        "x-auth": "SessionTicket",
        "x-requestType": "AddUsernamePasswordRequest",
        "x-resultType": "AddUsernamePasswordResult",
        "x-seeAlso": [
          "Client/LoginWithEmailAddress",
          "Client/LoginWithPlayFab"
        ],
        "x-errors": [
          "AccountAlreadyLinked",
          "EmailAddressNotAvailable",
          "InvalidEmailAddress",
          "InvalidPassword",
          "InvalidTitleId",
          "InvalidUsername",
          "UsernameNotAvailable"
        ]
      }
    },
    "/Client/AddUserVirtualCurrency": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Increments the user's balance of the specified virtual currency by the stated amount",
        "description": "Increments the user's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AddUserVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-auth": "SessionTicket",
        "x-requestType": "AddUserVirtualCurrencyRequest",
        "x-resultType": "ModifyUserVirtualCurrencyResult",
        "x-seeAlso": [
          "Client/SubtractUserVirtualCurrency"
        ],
        "x-errors": [
          "APINotEnabledForGameClientAccess",
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Client/AndroidDevicePushNotificationRegistration": {
      "post": {
        "tags": [
          "Platform Specific Methods"
        ],
        "summary": "Registers the Android device to receive push notifications",
        "description": "Registers the Android device to receive push notifications",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AndroidDevicePushNotificationRegistration"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AndroidDevicePushNotificationRegistrationRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AndroidDevicePushNotificationRegistrationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "More information can be found on configuring your game for the Google Cloud Messaging service in the Google developer documentation, here: http://developer.android.com/google/gcm/client.html. The steps to configure and send Push Notifications is described in the PlayFab tutorials, here: https://api.playfab.com/docs/pushCrashCourse/.",
        "x-auth": "SessionTicket",
        "x-requestType": "AndroidDevicePushNotificationRegistrationRequest",
        "x-resultType": "AndroidDevicePushNotificationRegistrationResult",
        "x-errors": [
          "NoPushNotificationARNForTitle"
        ]
      }
    },
    "/Client/AttributeInstall": {
      "post": {
        "tags": [
          "Advertising"
        ],
        "summary": "Attributes an install for advertisment.",
        "description": "Attributes an install for advertisment.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/AttributeInstall"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AttributeInstallRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AttributeInstallResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If you have an ad attribution partner enabled, this will post an install to their service to track the device. It uses the given device id to match based on clicks on ads.",
        "x-auth": "SessionTicket",
        "x-requestType": "AttributeInstallRequest",
        "x-resultType": "AttributeInstallResult",
        "x-errors": [
          "NoPartnerEnabled"
        ]
      }
    },
    "/Client/CancelTrade": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancels an open trade (one that has not yet been accepted or cancelled). Note that only the player who created the trade can cancel it via this API call, to prevent griefing of the trade system (cancelling trades in order to prevent other players from accepting them, for trades that can be claimed by more than one player).",
        "description": "Cancels an open trade (one that has not yet been accepted or cancelled). Note that only the player who created the trade can cancel it via this API call, to prevent griefing of the trade system (cancelling trades in order to prevent other players from accepting them, for trades that can be claimed by more than one player).",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/CancelTrade"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CancelTradeRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/CancelTradeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "CancelTradeRequest",
        "x-resultType": "CancelTradeResponse",
        "x-seeAlso": [
          "Client/AcceptTrade",
          "Client/GetPlayerTrades",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ],
        "x-errors": [
          "TradeAlreadyFilled",
          "TradeCancelled",
          "TradeStatusNotValidForCancelling",
          "TradeWaitForStatusTimeout"
        ]
      }
    },
    "/Client/ConfirmPurchase": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Confirms with the payment provider that the purchase was approved (if applicable) and adjusts inventory and virtual currency balances as appropriate",
        "description": "Confirms with the payment provider that the purchase was approved (if applicable) and adjusts inventory and virtual currency balances as appropriate",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/ConfirmPurchase"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ConfirmPurchaseRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ConfirmPurchaseResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The final step in the purchasing process, this API finalizes the purchase with the payment provider, where applicable, adding virtual goods to the player inventory (including random drop table resolution and recursive addition of bundled items) and adjusting virtual currency balances for funds used or added. Note that this is a pull operation, and should be polled regularly when a purchase is in progress. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-resultDetails": "When the FailedByPaymentProvider error is returned, it's important to check the ProviderErrorCode, ProviderErrorMessage, and ProviderErrorDetails to understand the specific reason the payment was rejected, as in some rare cases, this may mean that the provider hasn't completed some operation required to finalize the purchase.",
        "x-auth": "SessionTicket",
        "x-requestType": "ConfirmPurchaseRequest",
        "x-resultType": "ConfirmPurchaseResult",
        "x-seeAlso": [
          "Client/PayForPurchase",
          "Client/StartPurchase"
        ],
        "x-errors": [
          "FailedByPaymentProvider",
          "PurchaseDoesNotExist"
        ]
      }
    },
    "/Client/ConsumeItem": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "description": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/ConsumeItem"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ConsumeItemRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ConsumeItemResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "ConsumeItemRequest",
        "x-resultType": "ConsumeItemResult",
        "x-errors": [
          "InvalidItemProperties",
          "ItemNotFound",
          "NoRemainingUses"
        ]
      }
    },
    "/Client/ConsumePSNEntitlements": {
      "post": {
        "tags": [
          "Platform Specific Methods"
        ],
        "summary": "Checks for any new consumable entitlements. If any are found, they are consumed and added as PlayFab items",
        "description": "Checks for any new consumable entitlements. If any are found, they are consumed and added as PlayFab items",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/ConsumePSNEntitlements"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ConsumePSNEntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ConsumePSNEntitlementsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "ConsumePSNEntitlementsRequest",
        "x-resultType": "ConsumePSNEntitlementsResult",
        "x-AllInclusiveFlags": [
          "Playstation"
        ],
        "x-errors": [
          "ExpiredAuthToken",
          "FailedToGetEntitlements",
          "PSNInaccessible"
        ]
      }
    },
    "/Client/ConsumeXboxEntitlements": {
      "post": {
        "tags": [
          "Platform Specific Methods"
        ],
        "summary": "Grants the player's current entitlements from Xbox Live, consuming all availble items in Xbox and granting them to the player's PlayFab inventory. This call is idempotent and will not grant previously granted items to the player.",
        "description": "Grants the player's current entitlements from Xbox Live, consuming all availble items in Xbox and granting them to the player's PlayFab inventory. This call is idempotent and will not grant previously granted items to the player.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/ConsumeXboxEntitlements"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ConsumeXboxEntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ConsumeXboxEntitlementsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "ConsumeXboxEntitlementsRequest",
        "x-resultType": "ConsumeXboxEntitlementsResult",
        "x-AllInclusiveFlags": [
          "XBox"
        ],
        "x-seeAlso": [
          "Client/LoginWithXbox"
        ],
        "x-errors": [
          "ExpiredXboxLiveToken",
          "InvalidXboxLiveToken",
          "XboxInaccessible",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Client/CreateSharedGroup": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. Upon creation, the current user will be the only member of the group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. Upon creation, the current user will be the only member of the group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/CreateSharedGroup"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreateSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/CreateSharedGroupResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If SharedGroupId is specified, the service will attempt to create a group with that identifier, and will return an error if it is already in use. If no SharedGroupId is specified, a random identifier will be assigned.",
        "x-auth": "SessionTicket",
        "x-requestType": "CreateSharedGroupRequest",
        "x-resultType": "CreateSharedGroupResult",
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Client/ExecuteCloudScript": {
      "post": {
        "tags": [
          "Server-Side Cloud Script"
        ],
        "summary": "Executes a CloudScript function, with the 'currentPlayerId' set to the PlayFab ID of the authenticated player.",
        "description": "Executes a CloudScript function, with the 'currentPlayerId' set to the PlayFab ID of the authenticated player.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/ExecuteCloudScript"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ExecuteCloudScriptRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ExecuteCloudScriptResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "ExecuteCloudScriptRequest",
        "x-resultType": "ExecuteCloudScriptResult",
        "x-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException"
        ]
      }
    },
    "/Client/GetAccountInfo": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the user's PlayFab account details",
        "description": "Retrieves the user's PlayFab account details",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetAccountInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAccountInfoRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetAccountInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "This API retrieves details regarding the player in the PlayFab service. Note that when this call is used to retrieve data about another player (not the one signed into the local client), some data, such as Personally Identifying Information (PII), will be omitted for privacy reasons or to comply with the requirements of the platform belongs to. The user account returned will be based on the identifier provided in priority order: PlayFabId, Username, Email, then TitleDisplayName. If no identifier is specified, the currently signed in user's information will be returned.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetAccountInfoRequest",
        "x-resultType": "GetAccountInfoResult",
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Client/GetAdPlacements": {
      "post": {
        "tags": [
          "Advertising"
        ],
        "summary": "Returns a list of ad placements and a reward for each",
        "description": "Returns a list of ad placements and a reward for each",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetAdPlacements"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAdPlacementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetAdPlacementsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of ad placements for the calling player. Each ad placement may include a reward if there was at least one valid reward for the player as well as the number of plays remaining and when the play count resets.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetAdPlacementsRequest",
        "x-resultType": "GetAdPlacementsResult",
        "x-AllInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "InvalidRequest"
        ]
      }
    },
    "/Client/GetAllUsersCharacters": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "description": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetAllUsersCharacters"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ListUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ListUsersCharactersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of every character that currently belongs to a user.",
        "x-auth": "SessionTicket",
        "x-requestType": "ListUsersCharactersRequest",
        "x-resultType": "ListUsersCharactersResult",
        "x-seeAlso": [
          "Client/GetCharacterData"
        ]
      }
    },
    "/Client/GetCatalogItems": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCatalogItems"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCatalogItemsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "If CatalogVersion is not specified, only inventory items associated with the most recent version of the catalog will be returned.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCatalogItemsRequest",
        "x-resultType": "GetCatalogItemsResult",
        "x-seeAlso": [
          "Client/GetStoreItems",
          "Client/GetUserInventory"
        ]
      }
    },
    "/Client/GetCharacterData": {
      "post": {
        "tags": [
          "Character Data"
        ],
        "summary": "Retrieves the title-specific custom data for the character which is readable and writable by the client",
        "description": "Retrieves the title-specific custom data for the character which is readable and writable by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCharacterData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom character data will be returned.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCharacterDataRequest",
        "x-resultType": "GetCharacterDataResult",
        "x-seeAlso": [
          "Client/GetCharacterReadOnlyData",
          "Client/GetUserData",
          "Client/UpdateCharacterData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Client/GetCharacterInventory": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Retrieves the specified character's current inventory of virtual goods",
        "description": "Retrieves the specified character's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCharacterInventory"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterInventoryRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterInventoryResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the character inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. Also returns their virtual currency balances.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCharacterInventoryRequest",
        "x-resultType": "GetCharacterInventoryResult",
        "x-seeAlso": [
          "Client/GetUserInventory"
        ],
        "x-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Client/GetCharacterLeaderboard": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCharacterLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCharacterLeaderboardRequest",
        "x-resultType": "GetCharacterLeaderboardResult",
        "x-seeAlso": [
          "Client/GetCharacterStatistics",
          "Client/GetLeaderboardAroundCharacter",
          "Client/UpdateCharacterStatistics"
        ]
      }
    },
    "/Client/GetCharacterReadOnlyData": {
      "post": {
        "tags": [
          "Character Data"
        ],
        "summary": "Retrieves the title-specific custom data for the character which can only be read by the client",
        "description": "Retrieves the title-specific custom data for the character which can only be read by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCharacterReadOnlyData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom character data will be returned.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCharacterDataRequest",
        "x-resultType": "GetCharacterDataResult",
        "x-seeAlso": [
          "Client/GetCharacterData",
          "Client/GetUserData",
          "Client/UpdateCharacterData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Client/GetCharacterStatistics": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves the details of all title-specific statistics for the user",
        "description": "Retrieves the details of all title-specific statistics for the user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCharacterStatistics"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterStatisticsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetCharacterStatisticsRequest",
        "x-resultType": "GetCharacterStatisticsResult",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboardAroundCharacter",
          "Client/GetLeaderboardForUserCharacters",
          "Client/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Client/GetCloudScriptUrl": {
      "post": {
        "tags": [
          "Server-Side Cloud Script"
        ],
        "summary": "Retrieves the title-specific URL for Cloud Script servers. This must be queried once, prior to making any calls to RunCloudScript.",
        "description": "Retrieves the title-specific URL for Cloud Script servers. This must be queried once, prior to making any calls to RunCloudScript.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCloudScriptUrl"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCloudScriptUrlRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCloudScriptUrlResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cloud Scripts in PlayFab have both Versions and Revisions. Each time a new script is uploaded against a Version, this creates a new Revision. If Testing is set to true, the URL returned will be for the Cloud Script Revision which was most recently uploaded. If Testing is set to false, the URL returned will be for the Cloud Script Revision which was most recently deployed to live.",
        "x-resultDetails": "The URL returned is the one which must be used by the title to call into a handler in Cloud Script. PlayFab-supplied SDKs will automatically save the results of this call, for use with any calls to RunCloudScript.",
        "x-deprecation": {
          "ProposedAfter": "3/28/2016",
          "DeprecatedAfter": "9/10/2016",
          "ObsoleteAfter": "10/10/2016",
          "ReplacedBy": "ExecuteCloudScript"
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetCloudScriptUrlRequest",
        "x-resultType": "GetCloudScriptUrlResult",
        "x-seeAlso": [
          "Client/RunCloudScript"
        ]
      }
    },
    "/Client/GetContentDownloadUrl": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/en-us/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "description": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/en-us/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetContentDownloadUrl"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetContentDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetContentDownloadUrlResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetContentDownloadUrlRequest",
        "x-resultType": "GetContentDownloadUrlResult",
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ],
        "x-errors": [
          "ContentS3OriginBucketNotConfigured"
        ]
      }
    },
    "/Client/GetCurrentGames": {
      "post": {
        "tags": [
          "Matchmaking"
        ],
        "summary": "Get details about all current running game servers matching the given parameters.",
        "description": "Get details about all current running game servers matching the given parameters.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetCurrentGames"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CurrentGamesRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/CurrentGamesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "CurrentGamesRequest",
        "x-resultType": "CurrentGamesResult",
        "x-seeAlso": [
          "Admin/AddServerBuild",
          "Client/GetGameServerRegions",
          "Client/Matchmake",
          "Admin/RemoveServerBuild",
          "Client/StartGame"
        ]
      }
    },
    "/Client/GetFriendLeaderboard": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked friends of the current player for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked friends of the current player for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetFriendLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard. If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetFriendLeaderboardRequest",
        "x-resultType": "GetLeaderboardResult",
        "x-seeAlso": [
          "Client/GetFriendLeaderboardAroundPlayer",
          "Client/GetLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-errors": [
          "FacebookAPIError"
        ]
      }
    },
    "/Client/GetFriendLeaderboardAroundCurrentUser": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked friends of the current player for the given statistic, centered on the currently signed-in user",
        "description": "Retrieves a list of ranked friends of the current player for the given statistic, centered on the currently signed-in user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetFriendLeaderboardAroundCurrentUser"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendLeaderboardAroundCurrentUserRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetFriendLeaderboardAroundCurrentUserResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired.",
        "x-deprecation": {
          "ProposedAfter": "3/1/2016",
          "DeprecatedAfter": "9/10/2016",
          "ObsoleteAfter": "10/10/2016",
          "ReplacedBy": "GetFriendLeaderboardAroundPlayer"
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetFriendLeaderboardAroundCurrentUserRequest",
        "x-resultType": "GetFriendLeaderboardAroundCurrentUserResult",
        "x-seeAlso": [
          "Client/GetLeaderboardAroundCurrentUser",
          "Client/GetUserStatistics"
        ],
        "x-errors": [
          "FacebookAPIError"
        ]
      }
    },
    "/Client/GetFriendLeaderboardAroundPlayer": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked friends of the current player for the given statistic, centered on the requested PlayFab user. If PlayFabId is empty or null will return currently logged in user.",
        "description": "Retrieves a list of ranked friends of the current player for the given statistic, centered on the requested PlayFab user. If PlayFabId is empty or null will return currently logged in user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetFriendLeaderboardAroundPlayer"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendLeaderboardAroundPlayerRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetFriendLeaderboardAroundPlayerResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetFriendLeaderboardAroundPlayerRequest",
        "x-resultType": "GetFriendLeaderboardAroundPlayerResult",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "FacebookAPIError"
        ]
      }
    },
    "/Client/GetFriendsList": {
      "post": {
        "tags": [
          "Friend List Management"
        ],
        "summary": "Retrieves the current friend list for the local user, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "description": "Retrieves the current friend list for the local user, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetFriendsList"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendsListRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetFriendsListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "If any additional services are queried for the user's friends, those friends who also have a PlayFab account registered for the title will be returned in the results. For Facebook, user has to have logged into the title's Facebook app recently, and only friends who also plays this game will be included.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetFriendsListRequest",
        "x-resultType": "GetFriendsListResult",
        "x-seeAlso": [
          "Client/AddFriend",
          "Client/GetPlayerProfile",
          "Client/RemoveFriend"
        ],
        "x-errors": [
          "FacebookAPIError",
          "InvalidPublisherId"
        ]
      }
    },
    "/Client/GetGameServerRegions": {
      "post": {
        "tags": [
          "Matchmaking"
        ],
        "summary": " Get details about the regions hosting game servers matching the given parameters.",
        "description": " Get details about the regions hosting game servers matching the given parameters.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetGameServerRegions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GameServerRegionsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GameServerRegionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GameServerRegionsRequest",
        "x-resultType": "GameServerRegionsResult",
        "x-seeAlso": [
          "Admin/AddServerBuild",
          "Client/GetCurrentGames",
          "Client/Matchmake",
          "Admin/RemoveServerBuild",
          "Client/StartGame"
        ]
      }
    },
    "/Client/GetLeaderboard": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: the user's Position is relative to the overall leaderboard.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetLeaderboardRequest",
        "x-resultType": "GetLeaderboardResult",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Client/GetLeaderboardAroundCharacter": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of ranked characters for the given statistic, centered on the requested Character ID",
        "description": "Retrieves a list of ranked characters for the given statistic, centered on the requested Character ID",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetLeaderboardAroundCharacter"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardAroundCharacterRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundCharacterResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the character defaults to 0 when the character does not have the corresponding statistic.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetLeaderboardAroundCharacterRequest",
        "x-resultType": "GetLeaderboardAroundCharacterResult",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboard",
          "Client/UpdateCharacterStatistics"
        ]
      }
    },
    "/Client/GetLeaderboardAroundCurrentUser": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "description": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetLeaderboardAroundCurrentUser"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardAroundCurrentUserRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundCurrentUserResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-deprecation": {
          "ProposedAfter": "3/1/2016",
          "DeprecatedAfter": "9/10/2016",
          "ObsoleteAfter": "10/10/2016",
          "ReplacedBy": "GetLeaderboardAroundPlayer"
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetLeaderboardAroundCurrentUserRequest",
        "x-resultType": "GetLeaderboardAroundCurrentUserResult",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboard",
          "Client/GetUserStatistics"
        ]
      }
    },
    "/Client/GetLeaderboardAroundPlayer": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked users for the given statistic, centered on the requested player. If PlayFabId is empty or null will return currently logged in user.",
        "description": "Retrieves a list of ranked users for the given statistic, centered on the requested player. If PlayFabId is empty or null will return currently logged in user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetLeaderboardAroundPlayer"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardAroundPlayerRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundPlayerResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetLeaderboardAroundPlayerRequest",
        "x-resultType": "GetLeaderboardAroundPlayerResult",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboard",
          "Client/GetUserStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Client/GetLeaderboardForUserCharacters": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of all of the user's characters for the given statistic.",
        "description": "Retrieves a list of all of the user's characters for the given statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetLeaderboardForUserCharacters"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardForUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardForUsersCharactersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetLeaderboardForUsersCharactersRequest",
        "x-resultType": "GetLeaderboardForUsersCharactersResult",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboard",
          "Server/GetLeaderboardAroundUser"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Client/GetPaymentToken": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "For payments flows where the provider requires playfab (the fulfiller) to initiate the transaction, but the client completes the rest of the flow. In the Xsolla case, the token returned here will be passed to Xsolla by the client to create a cart. Poll GetPurchase using the returned OrderId once you've completed the payment.",
        "description": "For payments flows where the provider requires playfab (the fulfiller) to initiate the transaction, but the client completes the rest of the flow. In the Xsolla case, the token returned here will be passed to Xsolla by the client to create a cart. Poll GetPurchase using the returned OrderId once you've completed the payment.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPaymentToken"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPaymentTokenRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPaymentTokenResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetPaymentTokenRequest",
        "x-resultType": "GetPaymentTokenResult",
        "x-seeAlso": [
          "Client/GetPurchase"
        ],
        "x-errors": [
          "InvalidPaymentProvider",
          "NoPartnerEnabled"
        ]
      }
    },
    "/Client/GetPhotonAuthenticationToken": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Gets a Photon custom authentication token that can be used to securely join the player into a Photon room. See https://api.playfab.com/docs/using-photon-with-playfab/ for more details.",
        "description": "Gets a Photon custom authentication token that can be used to securely join the player into a Photon room. See https://api.playfab.com/docs/using-photon-with-playfab/ for more details.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPhotonAuthenticationToken"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPhotonAuthenticationTokenRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPhotonAuthenticationTokenResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetPhotonAuthenticationTokenRequest",
        "x-resultType": "GetPhotonAuthenticationTokenResult",
        "x-errors": [
          "PhotonApplicationNotAssociatedWithTitle",
          "PhotonApplicationNotFound",
          "PhotonNotEnabledForTitle"
        ]
      }
    },
    "/Client/GetPlayerCombinedInfo": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves all of the user's different kinds of info.",
        "description": "Retrieves all of the user's different kinds of info.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerCombinedInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerCombinedInfoRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerCombinedInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Returns whatever info is requested in the response for the user. If no user is explicitly requested this defaults to the authenticated user. If the user is the same as the requester, PII (like email address, facebook id) is returned if available. Otherwise, only public information is returned. All parameters default to false.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerCombinedInfoRequest",
        "x-resultType": "GetPlayerCombinedInfoResult",
        "x-errors": [
          "AccountNotFound",
          "RequestViewConstraintParamsNotAllowed"
        ]
      }
    },
    "/Client/GetPlayerProfile": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the player's profile",
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerProfile"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerProfileResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerProfileRequest",
        "x-resultType": "GetPlayerProfileResult",
        "x-errors": [
          "PlayerNotInGame",
          "ProfileDoesNotExist",
          "RequestViewConstraintParamsNotAllowed"
        ]
      }
    },
    "/Client/GetPlayerSegments": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "List all segments that a player currently belongs to at this moment in time.",
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerSegments"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerSegmentsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerSegmentsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerSegmentsRequest",
        "x-resultType": "GetPlayerSegmentsResult"
      }
    },
    "/Client/GetPlayerStatistics": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the indicated statistics (current version and values for all statistics, if none are specified), for the local player.",
        "description": "Retrieves the indicated statistics (current version and values for all statistics, if none are specified), for the local player.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerStatistics"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerStatisticsRequest",
        "x-resultType": "GetPlayerStatisticsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics"
        ]
      }
    },
    "/Client/GetPlayerStatisticVersions": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the information on the available versions of the specified statistic.",
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerStatisticVersions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticVersionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerStatisticVersionsRequest",
        "x-resultType": "GetPlayerStatisticVersionsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics"
        ],
        "x-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Client/GetPlayerTags": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Get all tags with a given Namespace (optional) from a player profile.",
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerTags"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerTagsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerTagsRequest",
        "x-resultType": "GetPlayerTagsResult",
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Client/GetPlayerTrades": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Gets all trades the player has either opened or accepted, optionally filtered by trade status.",
        "description": "Gets all trades the player has either opened or accepted, optionally filtered by trade status.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayerTrades"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerTradesRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerTradesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayerTradesRequest",
        "x-resultType": "GetPlayerTradesResponse",
        "x-seeAlso": [
          "Client/AcceptTrade",
          "Client/CancelTrade",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromFacebookIDs": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayFabIDsFromFacebookIDs"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayFabIDsFromFacebookIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayFabIDsFromFacebookIDsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "For Facebook identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-auth": "SessionTicket",
        "x-requestType": "GetPlayFabIDsFromFacebookIDsRequest",
        "x-resultType": "GetPlayFabIDsFromFacebookIDsResult",
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromGameCenterIDs": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the unique PlayFab identifiers for the given set of Game Center identifiers (referenced in the Game Center Programming Guide as the Player Identifier).",
        "description": "Retrieves the unique PlayFab identifiers for the given set of Game Center identifiers (referenced in the Game Center Programming Guide as the Player Identifier).",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Client/Method/GetPlayFabIDsFromGameCenterIDs"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayFabIDsFromGameCenterIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayFabIDsFromGameCenterIDsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "For Game Center identifiers which have not been linked to PlayFab accounts, null will be returned.",
[...]
