{
  "swagger": "2.0",
  "info": {
    "version": "180605",
    "title": "PlayFab Server API",
    "description": "Provides functionality to allow external (developer-controlled) servers to interact with user inventories and data in a trusted manner, and to handle matchmaking and client connection orchestration",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Server/AddCharacterVirtualCurrency": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Increments the character's balance of the specified virtual currency by the stated amount",
        "description": "Increments the character's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AddCharacterVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddCharacterVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ModifyCharacterVirtualCurrencyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddCharacterVirtualCurrencyRequest",
        "x-resultType": "ModifyCharacterVirtualCurrencyResult",
        "x-seeAlso": [
          "Server/AddUserVirtualCurrency",
          "Server/SubtractCharacterVirtualCurrency"
        ],
        "x-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Server/AddFriend": {
      "post": {
        "tags": [
          "Friend List Management"
        ],
        "summary": "Adds the Friend user to the friendlist of the user with PlayFabId. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "description": "Adds the Friend user to the friendlist of the user with PlayFabId. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AddFriend"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddFriendRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddFriendRequest",
        "x-resultType": "EmptyResult",
        "x-seeAlso": [
          "Server/GetFriendsList",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-errors": [
          "AccountNotFound",
          "InvalidPublisherId",
          "UsersAlreadyFriends"
        ]
      }
    },
    "/Server/AddPlayerTag": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "description": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AddPlayerTag"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddPlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddPlayerTagResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_added event and add a tag with the given TagName and PlayFabID to the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters. Also there is a limit on the number of tags a title can have.",
        "x-auth": "SecretKey",
        "x-requestType": "AddPlayerTagRequest",
        "x-resultType": "AddPlayerTagResult",
        "x-seeAlso": [
          "Server/GetPlayerTags",
          "Server/RemovePlayerTag"
        ],
        "x-errors": [
          "AccountNotFound",
          "PlayerTagCountLimitExceeded"
        ]
      }
    },
    "/Server/AddSharedGroupMembers": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group (and the server) can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group (and the server) can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AddSharedGroupMembers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddSharedGroupMembersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AddSharedGroupMembersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddSharedGroupMembersRequest",
        "x-resultType": "AddSharedGroupMembersResult",
        "x-errors": [
          "AccountNotFound",
          "InvalidSharedGroupId",
          "UserAlreadyAdded"
        ]
      }
    },
    "/Server/AddUserVirtualCurrency": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Increments the user's balance of the specified virtual currency by the stated amount",
        "description": "Increments the user's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AddUserVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AddUserVirtualCurrencyRequest",
        "x-resultType": "ModifyUserVirtualCurrencyResult",
        "x-seeAlso": [
          "Server/SubtractUserVirtualCurrency"
        ],
        "x-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Server/AuthenticateSessionTicket": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validated a client's session ticket, and if successful, returns details for that user",
        "description": "Validated a client's session ticket, and if successful, returns details for that user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AuthenticateSessionTicket"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AuthenticateSessionTicketRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AuthenticateSessionTicketResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-auth": "SecretKey",
        "x-requestType": "AuthenticateSessionTicketRequest",
        "x-resultType": "AuthenticateSessionTicketResult",
        "x-errors": [
          "InvalidSessionTicket"
        ]
      }
    },
    "/Server/AwardSteamAchievement": {
      "post": {
        "tags": [
          "Platform Specific Methods"
        ],
        "summary": "Awards the specified users the specified Steam achievements",
        "description": "Awards the specified users the specified Steam achievements",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/AwardSteamAchievement"
        },
        "parameters": [
          {
            "$ref": "#/definitions/AwardSteamAchievementRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/AwardSteamAchievementResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "AwardSteamAchievementRequest",
        "x-resultType": "AwardSteamAchievementResult"
      }
    },
    "/Server/BanUsers": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "description": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/BanUsers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/BanUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/BanUsersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The existence of each user will not be verified. When banning by IP or MAC address, multiple players may be affected, so use this feature with caution. Returns information about the new bans.",
        "x-auth": "SecretKey",
        "x-requestType": "BanUsersRequest",
        "x-resultType": "BanUsersResult",
        "x-seeAlso": [
          "Server/GetUserBans",
          "Server/RevokeAllBansForUser",
          "Server/RevokeBans",
          "Server/UpdateBans"
        ]
      }
    },
    "/Server/ConsumeItem": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "description": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/ConsumeItem"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ConsumeItemRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ConsumeItemResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "ConsumeItemRequest",
        "x-resultType": "ConsumeItemResult",
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound",
          "InvalidItemProperties",
          "ItemNotFound",
          "NoRemainingUses"
        ]
      }
    },
    "/Server/CreateSharedGroup": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. When created by a server, the group will initially have no members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. When created by a server, the group will initially have no members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/CreateSharedGroup"
        },
        "parameters": [
          {
            "$ref": "#/definitions/CreateSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/CreateSharedGroupResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If SharedGroupId is specified, the service will attempt to create a group with that identifier, and will return an error if it is already in use. If no SharedGroupId is specified, a random identifier will be assigned.",
        "x-auth": "SecretKey",
        "x-requestType": "CreateSharedGroupRequest",
        "x-resultType": "CreateSharedGroupResult",
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeleteCharacterFromUser": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Deletes the specific character ID from the specified user.",
        "description": "Deletes the specific character ID from the specified user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/DeleteCharacterFromUser"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteCharacterFromUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/DeleteCharacterFromUserResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function will delete the specified character from the list allowed by the user, and will also delete any inventory or VC currently held by that character. It will NOT delete any statistics associated for this character, in order to preserve leaderboard integrity.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteCharacterFromUserRequest",
        "x-resultType": "DeleteCharacterFromUserResult",
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound"
        ]
      }
    },
    "/Server/DeleteSharedGroup": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Deletes a shared group, freeing up the shared group ID to be reused for a new group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Deletes a shared group, freeing up the shared group ID to be reused for a new group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/DeleteSharedGroup"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "DeleteSharedGroupRequest",
        "x-resultType": "EmptyResult",
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeleteUsers": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Deletes the users for the provided game. Deletes custom data, all account linkages, and statistics.",
        "description": "Deletes the users for the provided game. Deletes custom data, all account linkages, and statistics.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/DeleteUsers"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeleteUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/DeleteUsersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that this action cannot be undone. It will unlink all accounts and remove all PII information, as well as reset any statistics and leaderboards and clear out any stored custom data for the user. This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-auth": "SecretKey",
        "x-requestType": "DeleteUsersRequest",
        "x-resultType": "DeleteUsersResult",
        "x-errors": [
          "APINotEnabledForGameServerAccess",
          "InvalidPublisherId",
          "InvalidTitleId"
        ]
      }
    },
    "/Server/DeregisterGame": {
      "post": {
        "tags": [
          "Matchmaking"
        ],
        "summary": "Inform the matchmaker that a Game Server Instance is removed.",
        "description": "Inform the matchmaker that a Game Server Instance is removed.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/DeregisterGame"
        },
        "parameters": [
          {
            "$ref": "#/definitions/DeregisterGameRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/DeregisterGameResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "DeregisterGameRequest",
        "x-resultType": "DeregisterGameResponse",
        "x-seeAlso": [
          "Server/RegisterGame"
        ]
      }
    },
    "/Server/EvaluateRandomResultTable": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Returns the result of an evaluation of a Random Result Table - the ItemId from the game Catalog which would have been added to the player inventory, if the Random Result Table were added via a Bundle or a call to UnlockContainer.",
        "description": "Returns the result of an evaluation of a Random Result Table - the ItemId from the game Catalog which would have been added to the player inventory, if the Random Result Table were added via a Bundle or a call to UnlockContainer.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/EvaluateRandomResultTable"
        },
        "parameters": [
          {
            "$ref": "#/definitions/EvaluateRandomResultTableRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/EvaluateRandomResultTableResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that if the Random Result Table contains no entries, or does not exist for the catalog specified (the Primary catalog if one is not specified), an InvalidDropTable error will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "EvaluateRandomResultTableRequest",
        "x-resultType": "EvaluateRandomResultTableResult",
        "x-errors": [
          "CatalogNotConfigured",
          "InvalidDropTable"
        ]
      }
    },
    "/Server/ExecuteCloudScript": {
      "post": {
        "tags": [
          "Server-Side Cloud Script"
        ],
        "summary": "Executes a CloudScript function, with the 'currentPlayerId' variable set to the specified PlayFabId parameter value.",
        "description": "Executes a CloudScript function, with the 'currentPlayerId' variable set to the specified PlayFabId parameter value.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/ExecuteCloudScript"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ExecuteCloudScriptServerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ExecuteCloudScriptResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "ExecuteCloudScriptServerRequest",
        "x-resultType": "ExecuteCloudScriptResult",
        "x-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException"
        ]
      }
    },
    "/Server/GetAllActionGroups": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Retrieve a list of all PlayStream actions groups.",
        "description": "Retrieve a list of all PlayStream actions groups.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetAllActionGroups"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAllActionGroupsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetAllActionGroupsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-deprecation": {
          "ProposedAfter": "8/14/2017",
          "DeprecatedAfter": "9/14/2017",
          "ObsoleteAfter": "10/14/2017",
          "ReplacedBy": "GetAllSegments"
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetAllActionGroupsRequest",
        "x-resultType": "GetAllActionGroupsResult",
        "x-seeAlso": [
          "Server/GetAllSegments"
        ]
      }
    },
    "/Server/GetAllSegments": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "description": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetAllSegments"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetAllSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetAllSegmentsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Request has no paramaters.",
        "x-auth": "SecretKey",
        "x-requestType": "GetAllSegmentsRequest",
        "x-resultType": "GetAllSegmentsResult",
        "x-seeAlso": [
          "Server/GetPlayersInSegment"
        ]
      }
    },
    "/Server/GetAllUsersCharacters": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "description": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetAllUsersCharacters"
        },
        "parameters": [
          {
            "$ref": "#/definitions/ListUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/ListUsersCharactersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of every character that currently belongs to a user.",
        "x-auth": "SecretKey",
        "x-requestType": "ListUsersCharactersRequest",
        "x-resultType": "ListUsersCharactersResult"
      }
    },
    "/Server/GetCatalogItems": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCatalogItems"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCatalogItemsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetCatalogItemsRequest",
        "x-resultType": "GetCatalogItemsResult"
      }
    },
    "/Server/GetCharacterData": {
      "post": {
        "tags": [
          "Character Data"
        ],
        "summary": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterDataRequest",
        "x-resultType": "GetCharacterDataResult",
        "x-seeAlso": [
          "Server/GetUserData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInternalData": {
      "post": {
        "tags": [
          "Character Data"
        ],
        "summary": "Retrieves the title-specific custom data for the user's character which cannot be accessed by the client",
        "description": "Retrieves the title-specific custom data for the user's character which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterInternalData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterDataRequest",
        "x-resultType": "GetCharacterDataResult",
        "x-seeAlso": [
          "Server/GetUserInternalData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInventory": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Retrieves the specified character's current inventory of virtual goods",
        "description": "Retrieves the specified character's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterInventory"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterInventoryRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterInventoryResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the character inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. Also returns their virtual currency balances.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterInventoryRequest",
        "x-resultType": "GetCharacterInventoryResult",
        "x-seeAlso": [
          "Server/GetUserInventory"
        ],
        "x-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetCharacterLeaderboard": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterLeaderboardRequest",
        "x-resultType": "GetCharacterLeaderboardResult",
        "x-seeAlso": [
          "Server/GetCharacterStatistics",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ]
      }
    },
    "/Server/GetCharacterReadOnlyData": {
      "post": {
        "tags": [
          "Character Data"
        ],
        "summary": "Retrieves the title-specific custom data for the user's character which can only be read by the client",
        "description": "Retrieves the title-specific custom data for the user's character which can only be read by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterReadOnlyData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom data will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterDataRequest",
        "x-resultType": "GetCharacterDataResult",
        "x-seeAlso": [
          "Server/GetCharacterData",
          "Server/GetCharacterInternalData",
          "Server/GetUserReadOnlyData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterStatistics": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves the details of all title-specific statistics for the specific character",
        "description": "Retrieves the details of all title-specific statistics for the specific character",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetCharacterStatistics"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetCharacterStatisticsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Character statistics are similar to user statistics in that they are numeric values which may only be updated by a server operation, in order to minimize the opportunity for unauthorized changes. In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-auth": "SecretKey",
        "x-requestType": "GetCharacterStatisticsRequest",
        "x-resultType": "GetCharacterStatisticsResult",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetContentDownloadUrl": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/en-us/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "description": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/en-us/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetContentDownloadUrl"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetContentDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetContentDownloadUrlResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetContentDownloadUrlRequest",
        "x-resultType": "GetContentDownloadUrlResult",
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ]
      }
    },
    "/Server/GetFriendLeaderboard": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked friends of the given player for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked friends of the given player for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetFriendLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard. If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired.",
        "x-auth": "SecretKey",
        "x-requestType": "GetFriendLeaderboardRequest",
        "x-resultType": "GetLeaderboardResult",
        "x-seeAlso": [
          "Client/GetLeaderboardAroundCurrentUser",
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics"
        ],
        "x-errors": [
          "FacebookAPIError"
        ]
      }
    },
    "/Server/GetFriendsList": {
      "post": {
        "tags": [
          "Friend List Management"
        ],
        "summary": "Retrieves the current friends for the user with PlayFabId, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "description": "Retrieves the current friends for the user with PlayFabId, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetFriendsList"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetFriendsListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetFriendsListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "If any additional services are queried for the user's friends, those friends who also have a PlayFab account registered for the title will be returned in the results. For Facebook, user has to have logged into the title's Facebook app recently, and only friends who also plays this game will be included.",
        "x-auth": "SecretKey",
        "x-requestType": "GetFriendsListRequest",
        "x-resultType": "GetFriendsListResult",
        "x-seeAlso": [
          "Server/AddFriend",
          "Server/GetPlayerProfile",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-errors": [
          "AccountNotFound",
          "FacebookAPIError"
        ]
      }
    },
    "/Server/GetLeaderboard": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "description": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard.",
        "x-auth": "SecretKey",
        "x-requestType": "GetLeaderboardRequest",
        "x-resultType": "GetLeaderboardResult",
        "x-seeAlso": [
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardAroundCharacter": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of ranked characters for the given statistic, centered on the requested user",
        "description": "Retrieves a list of ranked characters for the given statistic, centered on the requested user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetLeaderboardAroundCharacter"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardAroundCharacterRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundCharacterResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the character defaults to 0 when the character does not have the corresponding statistic.",
        "x-auth": "SecretKey",
        "x-requestType": "GetLeaderboardAroundCharacterRequest",
        "x-resultType": "GetLeaderboardAroundCharacterResult",
        "x-seeAlso": [
          "Server/GetCharacterLeaderboard",
          "Server/GetLeaderboard",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetLeaderboardAroundUser": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "description": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetLeaderboardAroundUser"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardAroundUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundUserResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-auth": "SecretKey",
        "x-requestType": "GetLeaderboardAroundUserRequest",
        "x-resultType": "GetLeaderboardAroundUserResult",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardForUserCharacters": {
      "post": {
        "tags": [
          "Characters"
        ],
        "summary": "Retrieves a list of all of the user's characters for the given statistic.",
        "description": "Retrieves a list of all of the user's characters for the given statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetLeaderboardForUserCharacters"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetLeaderboardForUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardForUsersCharactersResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard.",
        "x-auth": "SecretKey",
        "x-requestType": "GetLeaderboardForUsersCharactersRequest",
        "x-resultType": "GetLeaderboardForUsersCharactersResult",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetPlayerCombinedInfo": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Returns whatever info is requested in the response for the user. Note that PII (like email address, facebook id)       may be returned. All parameters default to false.",
        "description": "Returns whatever info is requested in the response for the user. Note that PII (like email address, facebook id)       may be returned. All parameters default to false.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerCombinedInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerCombinedInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerCombinedInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerCombinedInfoRequest",
        "x-resultType": "GetPlayerCombinedInfoResult"
      }
    },
    "/Server/GetPlayerProfile": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the player's profile",
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerProfile"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerProfileResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerProfileRequest",
        "x-resultType": "GetPlayerProfileResult",
        "x-errors": [
          "PlayerNotInGame",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Server/GetPlayerSegments": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "List all segments that a player currently belongs to at this moment in time.",
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerSegments"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayersSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerSegmentsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayersSegmentsRequest",
        "x-resultType": "GetPlayerSegmentsResult",
        "x-seeAlso": [
          "Server/GetAllSegments"
        ]
      }
    },
    "/Server/GetPlayersInSegment": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation.",
        "description": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayersInSegment"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayersInSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayersInSegmentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Initial request must contain at least a Segment ID. Subsequent requests must contain the Segment ID as well as the Continuation Token. Failure to send the Continuation Token will result in a new player segment list being generated. Each time the Continuation Token is passed in the length of the Total Seconds to Live is refreshed. If too much time passes between requests to the point that a subsequent request is past the Total Seconds to Live an error will be returned and paging will be terminated. This API is resource intensive and should not be used in scenarios which might generate high request volumes. Only one request to this API at a time should be made per title. Concurrent requests to the API may be rejected with the APIConcurrentRequestLimitExceeded error.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayersInSegmentRequest",
        "x-resultType": "GetPlayersInSegmentResult",
        "x-seeAlso": [
          "Server/GetAllSegments"
        ],
        "x-errors": [
          "ExpiredContinuationToken",
          "SegmentNotFound"
        ]
      }
    },
    "/Server/GetPlayerStatistics": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the current version and values for the indicated statistics, for the local player.",
        "description": "Retrieves the current version and values for the indicated statistics, for the local player.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerStatistics"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerStatisticsRequest",
        "x-resultType": "GetPlayerStatisticsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Server/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Server/UpdatePlayerStatistics"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetPlayerStatisticVersions": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the information on the available versions of the specified statistic.",
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerStatisticVersions"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerStatisticVersionsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerStatisticVersionsRequest",
        "x-resultType": "GetPlayerStatisticVersionsResult",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Server/UpdatePlayerStatistics"
        ],
        "x-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Server/GetPlayerTags": {
      "post": {
        "tags": [
          "PlayStream"
        ],
        "summary": "Get all tags with a given Namespace (optional) from a player profile.",
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayerTags"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayerTagsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayerTagsRequest",
        "x-resultType": "GetPlayerTagsResult",
        "x-seeAlso": [
          "Server/AddPlayerTag",
          "Server/RemovePlayerTag"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetPlayFabIDsFromFacebookIDs": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayFabIDsFromFacebookIDs"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayFabIDsFromFacebookIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayFabIDsFromFacebookIDsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "For Facebook identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayFabIDsFromFacebookIDsRequest",
        "x-resultType": "GetPlayFabIDsFromFacebookIDsResult",
        "x-errors": [
          "AccountNotFound",
          "InvalidPublisherId"
        ]
      }
    },
    "/Server/GetPlayFabIDsFromSteamIDs": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the unique PlayFab identifiers for the given set of Steam identifiers. The Steam identifiers are the profile IDs for the user accounts, available as SteamId in the Steamworks Community API calls.",
        "description": "Retrieves the unique PlayFab identifiers for the given set of Steam identifiers. The Steam identifiers are the profile IDs for the user accounts, available as SteamId in the Steamworks Community API calls.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPlayFabIDsFromSteamIDs"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPlayFabIDsFromSteamIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPlayFabIDsFromSteamIDsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "For Steam identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPlayFabIDsFromSteamIDsRequest",
        "x-resultType": "GetPlayFabIDsFromSteamIDsResult",
        "x-errors": [
          "AccountNotFound",
          "InvalidPublisherId"
        ]
      }
    },
    "/Server/GetPublisherData": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the key-value store of custom publisher settings",
        "description": "Retrieves the key-value store of custom publisher settings",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetPublisherData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetPublisherDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetPublisherDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return publisher-specific values which can be read, but not written to, by the client. This data is shared across all titles assigned to a particular publisher, and can be used for cross-game coordination. Only titles assigned to a publisher can use this API. For more information email devrel@playfab.com. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-auth": "SecretKey",
        "x-requestType": "GetPublisherDataRequest",
        "x-resultType": "GetPublisherDataResult",
        "x-seeAlso": [
          "Server/SetPublisherData"
        ],
        "x-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetRandomResultTables": {
      "post": {
        "tags": [
          "Player Item Management"
        ],
        "summary": "Retrieves the configuration information for the specified random results tables for the title, including all ItemId values and weights",
        "description": "Retrieves the configuration information for the specified random results tables for the title, including all ItemId values and weights",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetRandomResultTables"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetRandomResultTablesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetRandomResultTablesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that if a specified Random Result Table contains no entries, or does not exist in the catalog, an InvalidDropTable error will be returned.",
        "x-auth": "SecretKey",
        "x-requestType": "GetRandomResultTablesRequest",
        "x-resultType": "GetRandomResultTablesResult",
        "x-seeAlso": [
          "Server/EvaluateRandomResultTable"
        ],
        "x-errors": [
          "CatalogNotConfigured",
          "InvalidDropTable"
        ]
      }
    },
    "/Server/GetSharedGroupData": {
      "post": {
        "tags": [
          "Shared Group Data"
        ],
        "summary": "Retrieves data stored in a shared group object, as well as the list of members in the group. The server can access all public and private group data. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "description": "Retrieves data stored in a shared group object, as well as the list of members in the group. The server can access all public and private group data. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetSharedGroupData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetSharedGroupDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetSharedGroupDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetSharedGroupDataRequest",
        "x-resultType": "GetSharedGroupDataResult",
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/GetTime": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the current server time",
        "description": "Retrieves the current server time",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetTime"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTimeRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetTimeResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This query retrieves the current time from one of the servers in PlayFab. Please note that due to clock drift between servers, there is a potential variance of up to 5 seconds.",
        "x-resultDetails": "Time is always returned as Coordinated Universal Time (UTC).",
        "x-auth": "SecretKey",
        "x-requestType": "GetTimeRequest",
        "x-resultType": "GetTimeResult",
        "x-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetTitleData": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the key-value store of custom title settings",
        "description": "Retrieves the key-value store of custom title settings",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetTitleData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetTitleDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return title specific values which can be read, but not written to, by the client. For example, a developer could choose to store values which modify the user experience, such as enemy spawn rates, weapon strengths, movement speeds, etc. This allows a developer to update the title without the need to create, test, and ship a new build. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-auth": "SecretKey",
        "x-requestType": "GetTitleDataRequest",
        "x-resultType": "GetTitleDataResult",
        "x-seeAlso": [
          "Server/SetTitleData"
        ]
      }
    },
    "/Server/GetTitleInternalData": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the key-value store of custom internal title settings",
        "description": "Retrieves the key-value store of custom internal title settings",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetTitleInternalData"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetTitleDataResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return title specific values which are accessible only to the server. This can be used to tweak settings on game servers and Cloud Scripts without needed to update and re-deploy them. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-auth": "SecretKey",
        "x-requestType": "GetTitleDataRequest",
        "x-resultType": "GetTitleDataResult",
        "x-seeAlso": [
          "Server/SetTitleInternalData"
        ]
      }
    },
    "/Server/GetTitleNews": {
      "post": {
        "tags": [
          "Title-Wide Data Management"
        ],
        "summary": "Retrieves the title news feed, as configured in the developer portal",
        "description": "Retrieves the title news feed, as configured in the developer portal",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetTitleNews"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetTitleNewsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetTitleNewsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-auth": "SecretKey",
        "x-requestType": "GetTitleNewsRequest",
        "x-resultType": "GetTitleNewsResult"
      }
    },
    "/Server/GetUserAccountInfo": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieves the relevant details for a specified user",
        "description": "Retrieves the relevant details for a specified user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetUserAccountInfo"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetUserAccountInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetUserAccountInfoResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-auth": "SecretKey",
        "x-requestType": "GetUserAccountInfoRequest",
        "x-resultType": "GetUserAccountInfoResult",
        "x-seeAlso": [
          "Server/GetUserInventory"
        ]
      }
    },
    "/Server/GetUserBans": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Gets all bans for a user.",
        "description": "Gets all bans for a user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/Server/Method/GetUserBans"
        },
        "parameters": [
          {
            "$ref": "#/definitions/GetUserBansRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": ""
                },
                "status": {
                  "type": "string",
                  "description": ""
                },
                "data": {
                  "$ref": "#/responses/GetUserBansResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Get all bans for a user, including inactive and expired bans. ",
        "x-auth": "SecretKey",
        "x-requestType": "GetUserBansRequest",
        "x-resultType": "GetUserBansResult",
        "x-seeAlso": [
          "Server/BanUsers",
          "Server/RevokeAllBansForUser",
          "Server/RevokeBans",
          "Server/UpdateBans"
        ],
        "x-errors": [
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetUserData": {
      "post": {
        "tags": [
          "Player Data Management"
        ],
        "summary": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
[...]
